@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@font-face {
  font-family: "Vazirmatn" !important;
  src: url("/fonts/vazir-font-v16.1.0/Vazir-Thin.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  direction: rtl;
  font-family: "Vazirmatn", sans-serif !important;
  background-color: #f5f5f5;
}

.calendar-responsive {
  width: 100% !important;
  max-width: 1500px !important;
  border-radius: 1rem;
}

.calendar-responsive .react-datepicker__month-container {
  width: 100%;
}

.calendar-responsive .react-datepicker__month {
  margin: 0;
}

.calendar-responsive .react-datepicker__week,
.calendar-responsive .react-datepicker__day-names {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-responsive .react-datepicker__day,
.calendar-responsive .react-datepicker__day-name {
  width: auto !important;
  height: 70px;
  line-height: 70px;
  margin: 0;
  font-size: 1.1rem;
}

/* XL */
@media (min-width: 1280px) {
  .calendar-responsive {
    max-width: 1300px !important;
  }

  .calendar-responsive .react-datepicker__day,
  .calendar-responsive .react-datepicker__day-name {
    height: 85px;
    line-height: 85px;
    font-size: 1.25rem;
  }
}


@media (min-width: 1536px) {
  .calendar-responsive {
    max-width: 1500px !important;
  }

  .calendar-responsive .react-datepicker__day,
  .calendar-responsive .react-datepicker__day-name {
    height: 100px;
    line-height: 100px;
    font-size: 1.5rem;
  }
}


.ant-typography,
.ant-menu-item,
.ant-btn,
.ant-input,
.ant-input-number,
.ant-select,
.ant-form,
.ant-form-item-label > label {
  font-family: "Vazirmatn", sans-serif !important;
}

.ant-form-item-label > label {
  margin: 0;
  font-size: 20px;
}

div {
  font-family: "Vazirmatn", sans-serif;
}


.ant-layout-header {
  background: #fff !important;
}

.ant-layout-sider {
  background: #fff !important;
}